<!DOCTYPE html>
<html th:replace="~{layout/app :: layout('加入者検索', ~{::content}, 'member')}" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="content">
  <!--/* 加入者情報検索画面 */-->
  <form th:action="@{/member/search}" th:object="${memberSearchCondition}" method="POST">
    <!--/* メールアドレス */-->
    <div class="form-group">
      <label for="mail">メールアドレス</label>
      <input type="text" th:field="*{mail}" />
    </div>
    <!--/* 氏名 */-->
    <div class="form-group">
      <label for="name">氏名</label>
      <input type="text" th:field="*{name}" />
    </div>
    <!--/* ここにテキストフォームを設置 */-->
    <div class="button-group">
      <button type="submit" id="search">検索</button>
      <a role="button" class="outline" id="addAccount" th:href="@{/member/add}">登録</a>
    </div>
  </form>
</div>

</html>